<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>
        {% block title %}
            Academic Writing
        {% endblock %}
    </title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">AcademicWriting</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% url 'articles' as url_articles %}
          <li class="nav-item {% if url_articles == request.path %}active{% endif %}" >
            <a class="nav-link" href="{{ url_articles }}">Articles <span class="sr-only">(current)</span></a>
          </li>
          {% url 'check_essay' as url_check_essay %}
          <li class="nav-item {% if url_check_essay == request.path %}active{% endif %}" >
            <a class="nav-link disabled" href="{{ url_check_essay }}">Check essay <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tasks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/tasks">All</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/tasks/?status=current">Current</a>
              <a class="dropdown-item" href="/tasks/?status=finished">Finished</a>
            </div>
          </li>
          {% url 'profile_page' as url_profile_page %}
          <li class="nav-item {% if url_profile_page == request.path %}active{% endif %}" >
            <a class="nav-link" href="{{ url_profile_page }}">Profile<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      {% if request.user.is_authenticated %}
        <span class="navbar-text">
            {{ request.user }}
        </span>
        <span class="navbar-text">
            {% url 'logout' as url_logout %}
                    <a class="nav-link" href="{{ url_logout }}">Logout</a>
        </span>
      {% else %}
            {% url 'login_page' as url_login %}
                    <a class="nav-link" href="{{ url_login }}">Login</a>
      {% endif %}

      </div>
    </nav>


    {% block content %}
        Empty page...
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>